<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Account</display-name>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext-context.xml,classpath*:applicationContext-users.xml,classpath*:applicationContext-coach.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:applicationContext-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>AuthorityVerficationFilter</filter-name>
		<filter-class>com.account.web.filter.AuthorityVerficationFilter</filter-class>
		<init-param>
			<param-name>filter</param-name>
			<param-value>jsp,ajax,upload</param-value>
		</init-param>
		<init-param>
			<param-name>excludeUrls</param-name>
			<param-value>north.jsp,menu.jsp,navigation.jsp,account/index.jsp,login.jsp,/upload</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AuthorityVerficationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<description></description>
		<display-name>CreditUpload</display-name>
		<servlet-name>CreditUpload</servlet-name>
		<servlet-class>com.account.web.servlet.CreditUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreditUpload</servlet-name>
		<url-pattern>/credit/upload</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/system/resource/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/system/resource/500.jsp</location>
	</error-page>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>